*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Optima;
}

:root {
    --primary-color: #f7f1db;
    --secondary-color: rgb(157, 126, 222);
    /* --background-color: rgb(148, 148, 185); */
    --background-color: #191d2a;
  }

body{
    color: var(--primary-color);
    background-color: var(--background-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 25px;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    background: #191d2a;
    padding: 20px;
    border-radius: 100px;
    cursor: pointer;
}
/* Add these styles to make the navbar horizontal */
.navbar {
    display: flex;
    align-items: center;
    list-style: none; /* Remove default list bullets */
    margin: 0;
    padding: 20px;
    background: #191d2a;
    box-shadow: #fff;
    border-radius: 100px;
  }
  
  .navbar li {
    margin-right: 35px; /* Add space between menu items */
  }
  
  /* Remove the margin from the last item to avoid extra spacing */
  .navbar li:last-child {
    margin-right: 0;
    
  }
  
.navbar a {
    display: inline-block;
    font-size: 25px;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
}

.navbar a:hover{
    color: var(--secondary-color);
    scale: 135%;
    text-shadow:  0 0 40px var(--secondary-color);
    /* background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    
}

.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-color: var(--background-color);
    /* background-image: linear-gradient( 110.1deg,  rgba(30,2,83,1) 44.2%, rgba(198,55,160,1) 138.2% ); */
    /* background-image: url(../images/1.jpg) no-repeat center; */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 30% 0;
}

.home-content{
    max-width: 600px;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    /* opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s; */
}

.home-content h3 span{
    /* color: var(--secondary-color);
     text-shadow:  0 0 40px var(--secondary-color);  */
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
}

.home-content h1{
    font-size: 80px;
    font-weight: 700;
    margin: -3px 0;
    /* background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.home-content p {
    font-size: 20px;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--secondary-color);
    text-decoration: none;
    margin: 30px 15px 30px 0;
}

.home-sci a:hover{
    background: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: 0 0 30px var(--secondary-color);
}
.btn-box {
    display: inline-block;
    padding: 12px 20px;
    background: var(--secondary-color);
    border-radius: 40px;
    font-size: 16px;
    color: var(--background-color);
    text-decoration: none;
    font-weight: 600;
    
}

.btn-box:hover{
    /* box-shadow: 0 0 5px var(--secondary-color),
    0 0 25px var(--secondary-color) 0 0 50px var(--secondary-color),
    0 0 100px var(--secondary-color), 0 0 200px var(--secondary-color); */
    box-shadow: 0 0 90px var(--secondary-color);
    color: rgb(255, 255, 255);
    scale: 115%;
    transition: 1s;
}

.about{
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    gap: 1.1rem;
    margin-right: 5%;
    align-items: center;
    padding: 70px 10% 0;
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
}
.about-img img{
    padding-bottom: 20%;
    max-width: 300px;
    height: auto;
    width: 70%;
    border-radius: 8px;
}
.about-text h2{
    font-size: 60px;
}
.about-text h3{
    font-size: 20px;
    line-height: 1.3;
}
.about-text h2 span{
    color: var(--secondary-color);
}
.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: var(--primary-color);
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p{
    color: var(--primary-color);
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

#services{
    color: var(--primary-color);
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}
.sub-title span {
    color: var(--secondary-color);
}
.container{
    padding: 90px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px,1fr));
    grid-gap: 80px;
    margin-top: 50px;
}
.services-list div{
    background-color: transparent;
    /* padding: 40px; */
    /* font-size: 13px; */
    /* font-weight: 13px; */
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    background-color: transparent;
    padding: 20px; /* Adjust padding */
    text-align: center; /* Center content vertically */
    font-size: 15px;
    font-weight: 400; /* Adjust font weight */
    border-radius: 20px;
  
    /* background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent; */
}
.services-list div:hover{
    /* background: var(--secondary-color); */
    color: var(--primary-color);
    /* box-shadow: 0 0 30px var(--secondary-color); */
    box-shadow: 1px 1px 60px rgb(157, 126, 222),
    1px 1px 20px rgba(157, 26, 222);
    transform: translateY(-10px);
    scale: 105%;
    transition: 0.8s;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.services-list div i {
    font-size: 80px;
    color: var(--secondary-color);
    margin-bottom: 30px;
    
}
.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block
}
.read{
    display: inline-block;
    padding: 12px 28px;
    background: var(--secondary-color);
    border-radius: 40px;
    font-size: 16px;
    color: var(--background-color);
    text-decoration: none;
    font-weight: 600;
}
.read:hover{
    background: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: 0 0 30px var(--secondary-color);
}
@keyframes slideRight {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideTop {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

/* @keyframes slideBottom {
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
} */
.services-list1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* Adjust the minmax value */
    grid-gap: 40px;
    margin-top: 50px;
    justify-items: center; 
    /* Center content horizontally */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr)); /* Adjust the icon size */
    gap: 15px;
    margin-top: 30px;
    text-align: center;
  }
  
  .services-list1 div {
    background-color: transparent;
    padding: 20px; /* Adjust padding */
    text-align: center; /* Center content vertically */
    font-size: 10px;
    font-weight: 400; /* Adjust font weight */
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    /* background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .services-list1 div:hover {
    /* color: var(--primary-color);
    box-shadow: 1px 1px 60px rgb(157, 126, 222), 1px 1px 20px rgba(157, 26, 222); */
    transform: translateY(-10px);
    scale: 1.1; 
    transition: 0.3s;
  }
  
  .services-list1 div i {
    font-size: 50px; /* Adjust icon size */
    color: var(--secondary-color);
    margin-bottom: 10px; /* Adjust margin */
  }
  .services-list1 div:hover i {
    text-shadow:  0 0 80px var(--secondary-color);
    transition: 0.3s;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .main-text{
    padding-top: 130px;
    margin-top: 200px;
  }
  .main-text h2{
    font-size: 60px;
    line-height: 1;
    text-align: center;
  }
  .main-text h2 span{
    color: var(--secondary-color);
  }
  .portfolio-content{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(359px, auto));
  }
  .row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
  }
  .row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
  }
  .layer{
    width: 100%;
    height: 0;
    background: var(--background-color);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
    opacity: 95%;
  }
  .layer h5{
    color: var(--background-color);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .layer p{
    color: var(--primary-color);
    font-size: 1rem;
    line-height: 1.8;
  }
  .layer i{
    color: #FC466B;
    margin-top: 20px;
    font-size: 20px;
    background: white;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .row:hover img{
    transform: scale(1.1);
  }
  .row:hover .layer{
    height: 100%;
  }
  .contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding: 30px;
    margin-top: 130px;
  }
  .contact-text h2{
    font-size: 90px;
    line-height: 1;
    text-align: center;
  }
  .contact-text h2 span{
    color: var(--secondary-color);
  }

  .contact-text h4 {
    margin: 15px;
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
  }
  .contact-text p{
    color: var(--primary-color);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
  }
 .contact-list{
    margin-bottom: 3rem;
 } 
 .contact-list li{
    margin-bottom: 10px;
    display: block;
 }
 .contact-list li{
    margin-bottom: 10px;
    display: block;
 }
 .contact-list i{
    display: inline-block;
    color: var(--secondary-color);
    font-size: 31px;
    transition: all 0.40s ease;
    margin-right: 20;
 }
 .contact-list a:hover{
    transform: scale(1.01) translateY(-5px);
    color: var(--secondary-color);
 }
 .contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--secondary-color);
    text-decoration: none;
    margin: 30px 15px 30px 0;
 }
 .contact-icons i:hover{
    background: var(--secondary-color);
    color: var(--background-color);
    box-shadow: 0 0 30px var(--secondary-color);
 }
 .contact-form form{
    position: relative;
 }
 .contact-form form input, form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
 }
.contact-form textarea{
    resize: none;
    height: 220px;
}
.contact-form form .send{
    display: inline-block;
    padding: 14px 60px;
    background: var(--secondary-color);
    border-radius: 40px;
    font-size: 18px;
    color: var(--background-color);
    text-decoration: none;
    font-weight: 600;
}
.contact-form form .send:hover{
    background: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: 0 0 30px var(--secondary-color);
}
.last-text p{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #555557;
    font-weight: 300;
    margin-top: 70px;
}
.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}
.top i{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}
.about-text h3 span{
    /* color: var(--secondary-color); */
    /* font-size: 80px; */
    font-weight: bolder;
     /* text-shadow:  0 0 40px var(--secondary-color);  */
    /* background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: var(--secondary-color);
    font-size: 20px;
}
.about-main {
    color: var(--primary-color);
    font-size: 15px;
    font-weight: 100;
}

.portfolio{
    position: relative;
    width: 100%;
    justify-content: space-between;
    padding: 15%;

}
.text2{
    /* color: var(--secondary-color); */
    /* font-size: 80px; */
    font-weight: bolder;
    font-family: 'Snell Roundhand', cursive;
     /* text-shadow:  0 0 40px var(--secondary-color);  */
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
}

/* Hide Navbar on Small Screens */
@media screen and (max-width: 1036px) {
    .navbar {
      display: none;
    }
    
    /* You can add additional styles or adjustments here */
  }
  
  .subsection{
    font-size: 38px;
    color: var(--secondary-color);
   
  }
  .maintitle{
    font-size: 26px;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-contrast{ 
    font-size: 20px;
    line-height: 1.5;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

.skills-section{
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
    .text-contrast{ 
        font-size: 13px;
        line-height: 1.5;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
      .maintitle{
        font-size: 16px;
        background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
}
  
  